<div class = "header header-box">
  <tr class="fact-item">
    <td class="fact-date head-td" *ngFor="let column of columns">{{column}}</td>
  </tr>
</div>
<cdk-virtual-scroll-viewport
  itemSize="50"
  class="fact-scroll-viewport">
  <table>
    <tr *cdkVirtualFor="let fact of dataSource" class="fact-item">
      <ng-template [ngIf]="fact">
        <td class="fact-date" *ngFor="let column of columns">{{ getFactValue(fact,column) }}</td>
      </ng-template>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>
